.hero {
    background-image: url('projet/VEO-2a-10-1024x576.jpg');
    background-size: cover;
    background-color: rgb(255, 255, 255);
    padding-bottom: 33rem;
  }

  .beforeFooter {
    background-image: url('projet/footer.jpg');
    background-size: cover;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3rem;
  }

  .myDate h5{
    font-size: 1.25rem;
  }