.hero {
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-color: rgb(255, 255, 255);
    padding-bottom: 33rem;
  }

  /* .beforeFooter {
    background-image: url('img/mountains_0001_Calque\ 4.jpg');
    background-size: cover;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3rem;
  } */

  .myDate h5{
    font-size: 1.25rem;
  }