.hero {
  background-image: url('img/satoshi_collage__0001_Calque\ 10.jpg');
  background-size: cover;
  background-color: rgb(255, 255, 255);
  padding-bottom: 50rem;
}

/* .beforeFooter {
    background-image: url('img/mountains_0001_Calque\ 4.jpg');
    background-size: cover;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3rem;
  } */

.myDate h5 {
  font-size: 1.25rem;
}

.soldOut {
  font-size: 0.95rem;
  font-weight: bold;
  font-style: italic;
  background-color: rgb(231, 231, 231);
}